
#one {
    width: 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: black;
    margin-bottom: 20px;
    height: 270px;
}
.title{
    width: 100%;
    color: white;
    
  
  

}
.imgThumb{
    width: 100%;
    height: 220px;
   
  

}
.imgThumb > img{width: 100%;
height: 220px;}
@media screen and (max-width: 992px) {
    #one {
        width:75%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: black;
    margin-bottom: 20px;
    height: 320px;
    }
  }
