#result{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    flex-wrap: wrap;
    min-height: 500px;
}
#searchform input {
    
    border: none;
    margin-top: 8px;
    display: flex;
    font-size: 17px;
    background: #ddd;
    width: 25%;
margin-left: 34%;

    
}
#searchform {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    box-sizing: border-box;
    display: flex;
    text-align: center;
  }
  
  #searchform button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background:dodgerblue;
    font-size: 17px;
    border: none;
    cursor: pointer;
  
  }
  
  #searchform button:hover {
    background: #ccc;
  }
  #searchform form {
display: flex;
width: 100%;
  }
@media screen and (max-width: 992px) {
    #result {
        width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:white;
        min-height: 450px;
    
    }
}
